.cats-area .container{
    width: 80%;
}
.cats-area .row{
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}
.cats-area img{
    position: relative;
    width: 100%;
    height: 100%;
}
.single-cat{
    position: relative;
}
.cats-area .single-cat:hover .overlay{
    opacity: 1;
}
.cats-area .overlay{
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.cats-area .text{
    color: #fff;
    font-size: 20px;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 30%;
}